# this is a configuration file for the python harvester
# edit accordingly and save it as myconfig.py
# Author u4187959

import ssl
test_limit = 5
polling_frequency = 10
max_up_seconds_per_harvest = 3600
run_dir = ''
#context = ssl.SSLContext(ssl.PROTOCOL_SSLv3)
#context.load_cert_chain(certfile="<pathto:cert.pem>")
admin_email_addr = "@anu.edu.au"
response_url='http://localhost/'
data_store_path= '/var/harvested_contents'
log_dir= run_dir + '/log'
redis_poster_host = 'localhost'
log_level = "DEBUG"
java_home='/usr/bin/java'
saxon_jar=''
db_host='localhost'
db_user=''
db_passwd=''
db='dbs_registry_test'
db_port=3306
harvest_table = 'harvests
harvester_specific_datasource_attributes = "'xsl_file','title','harvest_method','uri','provider_type'," \
                                           "'advanced_harvest_mode','oai_set', 'last_harvest_run_date', " \
                                           "'harvest_params','user_defined_params', 'harvest_frequency'"