# this is a configuration file for the python script doi_link_checker.py
# edit accordingly and save it as myconfig.py
# Author u4187959

import ssl
run_dir = ''
context = ssl.SSLContext(ssl.PROTOCOL_SSLv3)
context.load_cert_chain(certfile="<pathto:cert.pem>")
admin_email_addr = ""
registry_url=''
data_store_path= ''
log_dir= run_dir + 'log'
java_home='<pathto:javabin>'
saxon_jar='<pathto:saxon8.jar>'
db_host=''
db_user=''
db_passwd=''
db=''