asn1crypto==0.24.0
cffi==1.11.5
click==6.7
cryptography==2.3.1
Flask==1.0.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycparser==2.18
PyMySQL==0.9.3
redis==2.10.6
six==1.11.0
Werkzeug==0.15.3
nose2==0.9.0
beautifulsoup4==4.9.0
html5lib==1.0.1
grequests==0.4.0
mock==3.0.5
rdflib==4.2.2
rdflib_jsonld==0.4.0
aiohttp==3.6.2
requests==2.22.0
urllib3==1.25.3
numpy==1.18.3